<!--This template will be extended in further templates of this project-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'store/main.css' %} ">
    <title>Super Shop Management System</title> 
</head>
<body>
    
    <div class="header">
        <div class="h-left">
           
        </div>
        <div class="h-center">
            <p>SSM Sys.</p>
        </div>
        <div class="h-right">
            {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            <a class="button-1 btn-sm " href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="button-1 btn-sm " href="{% url 'login' %}">Login</a>
            <a class="button-1 btn-sm " href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
        
       
    </div>
    
    {% block content %}

    {% endblock %}

    <footer class="footer">
        <p>&copy;Supershop Management Sys.</p>
        
    </footer>
    <script type="text/javascript" src="{% static 'store/main.js' %}"></script> 
    
</body>
</html>