<!--In this template customer information will be displayed which added previously
    and will provide dropdown for select product/item and it's quantity, as well as all added item will
     be displyed on a table after added-->
{% extends "store/manage_order.html" %}
{% block info %}
<div class="g-div">
    <div>
        
        <p>Order ID : {{ order.order_id }}</p>
         <p>Customer Name :{{ order.customer_name }}</p>
         <p>Phone : {{ order.phone }}</p>
         <p>Email : {{ order.email }}</p>
         
    </div>
    
        <form method="POST" id="postForm">
            {% csrf_token %}
    
            <fieldset>
                {% for field in form_i %}
                <div class="fieldWrapper">
                    
                    <div class="form-lnf">
                       <div class="form-l">
                        {{ field.label_tag }}
                       </div >
                       <div class="form-f">
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                        {{ field }}
                        
                       </div>
    
                    </div>
                    
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                
    
                <!-- <a href="{% url 'create-order' %}" class="button-1">Cancle</a> -->
                <input class="button-1" type="submit" value="Add Item">
            </fieldset>
        </form>

    <table class="product-table">
        <tr>
            <th>Item</th>
            <th>Unit Price</th>
            <th>QTY</th>
            <th>Total</th>
            
        </tr>
        <tbody id="tbd">
              
        </tbody>
        
        <!-- {% for item in orderItem %}
            
            <tr>
                <td> {{ item.product.name }}</td>
                <td> {{ item.product.unit_price }}</td>
                <td> {{ item.qty }}</td>
                <td> {{ item.get_total }}</td>
                
            </tr> 
        {% endfor %}-->
        
    </table>
    <!--When the bellow button clicked invoice will be created based on customer info and selected item -->
   <!-- <a href="{% url 'create-invoice' order.pk %}" class="button-1 ">Get Invoice</a>-->
    <!--this button will cancle the current order and take back to previous page-->
    
    <form action="" method='POST'>
        {% csrf_token %}
        <button class="button-1" type='submit' name="cancle" value="cancle" >Cancle</button>
        <button class="button-1" type='submit' name="checkout" value="checkout" >Checkout</button>
    </form>
    <!--
    <form action="{% url 'manage-order'  %}" method='GET'>
        button for switching Product Management to Order Managemet
        <button class= "button-1" type='submit'>Order Management</button>
    </form>-->
   
</div>    

<script>
    $(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type:'POST',
                url: "{% url 'current-cart' %}",
                data : {
                    order_id : '{{ order.order_id }}',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success : function(response){
                    //console.log(response);
                    $("#tbd").empty();
                    var total = 0;
                    for (var key in response.c_o_i){
                        // for (var k in response.c_o_i[key].product){
                        //     var t =" <tr>"
                        //      +"<td>"+response.c_o_i[key].product[k].name+ "</td>"
                        //               +"<td>"+response.c_o_i[key][k].unit_price + "</td>";
                        //               $("#tbd").append(t);
                        // }
                        var temp = " <tr>"
                             +"<td>"+response.c_o_i[key].product__name+ "</td>"
                                      +"<td>"+response.c_o_i[key].product__unit_price + "</td>"
                                     +"<td>"+response.c_o_i[key].qty +"</td>"
                                    +"<td>"+response.c_o_i[key].product__unit_price * response.c_o_i[key].qty+"</td>"
                                  +"</tr>";
                        total = total+(response.c_o_i[key].product__unit_price * response.c_o_i[key].qty)
                        $("#tbd").append(temp);
                    }
                    var f_row = '<tr> <td colspan="3"> Total </td><td>'+total+' </td></tr>'
                    $("#tbd").append(f_row);
                },
                error : function(response){
                    alert("An error occured");
                },
            });
        },1000);
    });

    $(document).on('submit','#postForm',function(e){
          e.preventDefault();
        //   form = document.getElementById('postForm')
        //     var formData = new FormData(form)
            $.ajax({
                type:'POST',
                url: "{% url 'cart-form' %}",
                data : {
                    product : $('#id_product').val(),
                    qty : $('#id_qty').val(),
                    order_id: '{{ order.order_id }}',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    //formData : formData,
                },
                success : function(data){
                    console.log(data);
                  //alert(data)
                },
    });

  });
</script>
{% endblock %}