{% extends "store/manage_order.html" %}
{% block info %}
<div class="g-div">
    <div>
        {% for order in orders %}
        <p>Order ID : {{ order.order_id }}</p>
         <p>Customer Name :{{ order.customer_name }}</p>
         <p>Phone : {{ order.phone }}</p>
         <p>Email : {{ order.email }}</p>
         {% endfor %}
    </div>
    
        <form method="POST">
            {% csrf_token %}
    
            <fieldset>
                {% for field in form_i %}
                <div class="fieldWrapper">
                    
                    <div class="form-lnf">
                       <div class="form-l">
                        {{ field.label_tag }}
                       </div >
                       <div class="form-f">
                        {{ field }}
                       </div>
    
                    </div>
                    
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                
    
                <!-- <a href="{% url 'create-order' %}" class="button-1">Cancle</a> -->
                <input class="button-1" type="submit" value="Add Item">
            </fieldset>
        </form>

    <table class="product-table">
        <tr>
            <th>Item</th>
            <th>Unit Price</th>
            <th>QTY</th>
            <th>Total</th>
            
        </tr>
        
        {% for order in orders %}
            <tr>
                <td> {{ order.order_id }}</td>
                <td> {{ order.customer_name }}</td>
                <td> {{ order.phone }}</td>
                <td> {{ order.email }}</td>
                
            </tr> 
        {% endfor %}
    </table>
</div>    

{% endblock %}