{% extends "store/manage_order.html" %}
{% block info %}
<div class="g-div">
    <div>
        
        <p>Order ID : {{ order.order_id }}</p>
         <p>Customer Name :{{ order.customer_name }}</p>
         <p>Phone : {{ order.phone }}</p>
         <p>Email : {{ order.email }}</p>
         
    </div>
    
        <form method="POST">
            {% csrf_token %}
    
            <fieldset>
                {% for field in form_i %}
                <div class="fieldWrapper">
                    
                    <div class="form-lnf">
                       <div class="form-l">
                        {{ field.label_tag }}
                       </div >
                       <div class="form-f">
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                        {{ field }}
                        
                       </div>
    
                    </div>
                    
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                
    
                <!-- <a href="{% url 'create-order' %}" class="button-1">Cancle</a> -->
                <input class="button-1" type="submit" value="Add Item">
            </fieldset>
        </form>

    <table class="product-table">
        <tr>
            <th>Item</th>
            <th>Unit Price</th>
            <th>QTY</th>
            <th>Total</th>
            
        </tr>
        
        {% for item in orderItem %}
            
            <tr>
                <td> {{ item.product.name }}</td>
                <td> {{ item.product.unit_price }}</td>
                <td> {{ item.qty }}</td>
                <td> {{ item.get_total }}</td>
                
            </tr> 
        {% endfor %}
        <tr>
            <td colspan="3"> Total </td>
            <td> {{total}} </td>
        </tr> 
    </table>
    <a href="{% url 'create-invoice' order.pk %}" class="button-1 ">Get Invoice</a>
    <a href="{% url 'create-order' %}" class="button-1">Back</a>
</div>    

{% endblock %}