{% extends "store/manage_order.html" %}

{% block info %}
    <div class="form-title">
        <h2>Create Order</h2>
    </div>
    <form method="POST">
        {% csrf_token %}

        <fieldset>
            {% for field in form_o %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <div class="form-lnf">
                   <div class="form-l">
                    {{ field.label_tag }}
                   </div >
                   <div class="form-f">
                    {{ field }}
                   </div>

                </div>
                
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <button data-order="{{orders.order_id}}" data-action="add" class="btn btn-outline-secondary button-1 btn-sm update-cart">Add to Cart</button>


             <a href="{% url 'create-order' %}" class="button-1">Cancle</a>
            <input class="button-1" type="submit" value="Submit">
        </fieldset>
    </form>

{% endblock %}