{% extends "store/manage_product.html" %}

{% block info %}
    <div class="g-div">
        <table class="product-table">
            <tr>
                <th>Product Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Unit Price</th>
                <th>Current Stock</th>
                <th>Action</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td> {{ product.product_code }}</td>
                    <td> {{ product.name }}</td>
                    <td> {{ product.category }}</td>
                    <td> {{ product.unit_price }}</td>
                    <td> {{ product.current_stock }}</td>
                    <td><a href="#" class="button-1 btn-sm danger">Delete</a></td>
                </tr> 
            {% endfor %}
        </table>
    </div>
{% endblock%}