{% extends "store/base.html" %}
{% block content %}
    <div class="outer-div">
        <div class="div-left">
            {% block product %}

            {% endblock product %}
           
        </div>
        <div class="div-center">
            {% block info %}
                <h1>info</h1>
            {% endblock info %}
        
        </div>
        <div class="div-right">
            <form action="{% url 'manage-product'  %}" method='GET'>
                <button class="button-1"type='submit'>Product Management</button>
            </form>
            <form action="{% url 'store-home'  %}" method='GET'>
                <button class= "button-1" type='submit'>Order Management</button>
            </form>
            <a href="#" class="button-1">Link Button</a>
                
        </div>
    </div>
    
{% endblock %}
       