{% extends "store/base.html" %}
{% block content %}
    <div class="outer-div">
        <div class="div-left">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aspernatur pariatur natus amet corporis adipisci
                beatae reiciendis expedita vitae ratione, quis minima ullam, quos velit quia distinctio cumque, suscipit magnam?
            </p>
        </div>
        <div class="div-center">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente fugit reprehenderit nisi tenetur! Cumque
                debitis repudiandae dignissimos dolores nobis praesentium, accusantium quas ut facere reprehenderit aliquid quos
                odio amet a?</p>
        
        </div>
        <div class="div-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nihil illum dignissimos fugiat magni
                inventore quidem eaque nostrum voluptate aspernatur molestiae velit, quo, dolorum aut quae unde, ullam repellat
                aperiam.</p>
        </div>
    </div>
    
{% endblock content %}
       