<!--home template for manage product , !!! initially this was template for project home view-->
{% extends "store/base.html" %}
{% block content %}
    <div class="outer-div">
        <div class="div-left">
            {% block left_div %}

            {% endblock %}
           
        </div>
        <div class="div-center">
            {% block info %}
                <h1>info</h1>
            {% endblock info %}
        
        </div>
        <div class="div-right">
            <form action="{% url 'manage-product'  %}" method='GET'>
                <button class="button-1"type='submit'>Product Management</button>
            </form>
            <form action="{% url 'manage-order'  %}" method='GET'>
                <!--button for switching Product Management to Order Managemet-->
                <button class= "button-1" type='submit'>Order Management</button>
            </form>
           
                
        </div>
    </div>
    
{% endblock %}
       