{% extends "store/manage_order.html" %}
{% block info %}
<div class="g-div">
    <div>
        
        <p>Order ID : {{ order.order_id }}</p>
         <p>Customer Name :{{ order.customer_name }}</p>
         <p>Phone : {{ order.phone }}</p>
         <p>Email : {{ order.email }}</p>
       
        <div style="margin-bottom: 5px;">

        </div>
        

         
    </div>
    <table class="product-table">
        <tr>
            <th>Product Code</th>
            <th>Name</th>
            <th>Qty</th>
            <th>Unit Price</th>
           
        </tr>
        {% for product in orderItem %}
            <tr>
                <td> {{ product.product.product_code }}</td>
                <td> {{ product.product.name }}</td>
                <td> {{ product.qty }}</td>
                <td> {{ product.product.unit_price }}</td>
               
            </tr> 
        {% endfor %}
    </table>
</div>    
{% endblock %}