* {
    position: relative;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    padding: 0; 
    margin: 0;
    overflow:visible;
  }
  .header{
    position:relative;
    background-color: turquoise;
    height: 50px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin:10;
    text-align: left;
    clear: left;
}

.footer{
    position:relative;
    background-color: turquoise;
    height: 50px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    clear: left;
}
.footer p{
    height: 90%;
    font-size: 100%;
    padding: 15px;
}
h1{
    font-size: 175%;
    text-align: center;
  }
  h2{
    font-size: 100%;
    text-align: center;
  }  

  .outer-div{
    position: relative;
    margin-top: 1%;
    padding-bottom: 10px;
    /*border: 1px solid black;*/
    
}
.div-left{
    position: relative;
    text-align: center;
    border: 1px solid black;
    float: left;
    background-color: rgb(139, 219, 202);
    height: 600px;
    width: 20%;
    padding-top: 10px;
    overflow: auto;
}
.div-center{
    position: relative;
    background-color: rgb(221, 152, 186);
    border: 1px solid black;
    float: left;
    height: 600px;
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    
}
.div-right{
    position: relative;
    float: left;
    border: 1px solid black;
    background-color: rgb(139, 219, 202);
    height: 600px;
    width: 20%;
    padding-top: 10px;
}
.form-title{
    position:relative;
    float: left;
    border: 1px solid black;
    background-color: rgb(134, 175, 110);
    height: 7%;
    width: 100%;
    margin-bottom: 1%;
}
.form-title h2{
    height: 90%;
    font-size: 100%;
    padding: 10px;
}
.button-1{
    background-color: #094d75;
    border: none;
    color: white;
    padding: 5px 20px;
    width: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1% 5% 1% 5%;
    cursor: pointer;
    border: 1px solid black;
}
.btn-sm{
    padding: 2px 4px;
    margin: 1% 2% 1% 2%;
    font-size: 12px;
    
}
.danger{
    background-color: red;
}
.g-div{
    padding: 5px;
    overflow: auto;
    height: 100%;
}
.product-table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
    
  }
  .product-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .product-table td, .product-table th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  
  
  .product-table tr:hover {color:  rgb(231, 11, 11);}
  
  .fieldWrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }
  .form-lnf{
    position: relative;
    margin-top: 1%;
    width: 100%;
    padding-left: 5%;
  }
  .form-l{
      position: relative;
      float:left;
      width:30%;
  }
  .form-f{
      position: relative;
      float: left;
      width: 70%;;
  }

  .form-f input{
      width:90%;
  }
  .form-f select{
      width:90%;
}

.h-left{
    position: relative;
    height: 80%;
    width: 15%;
    text-align: center;
    float: left;
}
.h-center{
    position: relative;
    height: 80%;
    width: 70%;
    text-align: center;
    float: left;
    
    
}

.h-right{
    position: relative;
    height: 80%;
    width: 15%;
    margin-top: 15px;
  
    text-align: center;
    float: left;
   
   
}
.h-right p{
    position: relative;
    text-align: center;
    height: 30%;
    width: 40%;
    float: left;
    margin:1px;
    
}

.h-right a{
    position: relative;
    text-align: center;
    height: 50%;
    width: 40%;
    float: left;
    padding:1px;
}

.h-center p{
    position: relative;
    text-align: center;
  
    height: 100%;
    width: 100%;
    margin-top: 15px;
    float: left;
}
